<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Games</th>
      <th scope="col">W</th>
      <th scope="col">L</th>
      <th scope="col">D</th>
      <th scope="col">Goal Difference</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let standing of standings">
      <th scope="row">{{standing.rank}}</th>
      <td>
        <img [src]='standing.team.logo' [title]='standing.team.name' style="width: 25px; height: 25px"
          class="square-circle">
      </td>
      <td><a class="text-decoration-none text-reset" [routerLink]="['/','fixtures']"
          [queryParams]="{league: league, team: standing.team.id }">
          {{standing.team.name}}
        </a>
      </td>

      <td>{{standing.all.played}}</td>
      <td>{{standing.all.win}}</td>
      <td>{{standing.all.lose}}</td>
      <td>{{standing.all.draw}}</td>
      <td>{{standing.goalsDiff}}</td>
      <td>{{standing.points}}</td>
    </tr>
  </tbody>
</table>