<div class='container'>

  <div id="Header" class="text-center">
    {{title}}
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="englandSelect" [routerLink]="['/standings', england]">England</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="spainSelect" [routerLink]="['/standings', spain]">Spain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="germanySelect" [routerLink]="['/standings', germany]">Germany</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="franceSelect" [routerLink]="['/standings', france]">France</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="italySelect" [routerLink]="['/standings', italy]">Italy</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>