/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
    background-image: url("/assets/images/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}